@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Roboto;
}
button {
    font-family: Inter;
    font-weight: 500;
    padding: 10px 20px;
    border: none;
    border-radius: 24px; 
}

/* Header */
header {
    width: 90%;
    height: 10%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header > div:first-child {
    display: flex;
    align-items: center;
    width: 60%;
    height: 50%;
}
.logo {
    object-fit: contain; 
}
img.logo {
max-width: 200px;
margin-right: 0;
}
nav a {
    text-decoration: none;
    color: #94A3B8;
    font-family: Inter;
    font-weight: 500;
    margin-left: 16px;
}
nav a:hover {
    color: black;
}
header > div:nth-child(2) button {
    margin-left: 16px;
}
.sign-up {
    font-family: Roboto;
    font-weight: 500;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 24px;
    background: none;
}
.sign-up:hover {
    background-color: #DBDBDB;
}
.start-campaign {
    color: white;
    background-color: #830FCD;
}
.start-campaign:hover {
    background-color: #B56FE1;
}
.back-campaign {
    margin-left: 10px;
    background-color: #F1F5F9;
}
.back-campaign:hover {
    background-color: #DBDBDB;
}

/*  HERO SECTION    */
.hero {
    width: 90%;
    height: 40%;
    margin: 0 auto;
    display: flex;
}
.hero-main {
    padding: 7% 15% 0 0;
}
.hero-main h1 {
    width: 60%;
}
.hero-main p {
    width: 70%;
    font-size: .8rem;
    margin: 20px 0;
}
.hero div {
    width: 50%;
    height: 100%;
}
footer {
    width: 100%;
    height: 50%;
    padding: 10% 5%;
    display: flex;
    color: white;
    background-color: #830FCD;

}
footer div {
    width: 25%;
    height: 50%;
    text-align: center;
    /* padding: 10px; */
}
footer h4 {
    font-weight: 400;
    margin-top: 35px;
}
footer ul li {
    margin: 0;
    list-style: none;
    margin-top: 10px;
}
footer a {
    text-decoration: none;
    color: white;
    font-size: .6rem;
}
footer a:hover {
    text-decoration: underline;
}
footer div p {
    width: 15rem;
    font-size: .7rem;
    word-spacing: 2px;
    line-height: 30px;
    margin: 0 0 20px 0;
}
.explore {
    background-color: white;
    padding: 10px 50px;
    font-family: Inter;
}

